{{ define "main" }}
<article class="post">
    <div class="post-header">
        <h1 class="post-title">{{ .Title }}</h1>
        <div class="post-meta">
            {{ with .Params.author }}By {{ . }} {{ end }}
            {{ if not .Date.IsZero }}
            <span class="text-decoration" role="presentation">|</span> 
            <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "January 2, 2006" }}</time>
            {{ end }}
        </div>
        
        {{ with .Params.tags }}
        <div class="post-tags">
            {{ range . }}
            <a href="{{ "tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
            {{ end }}
        </div>
        {{ end }}
    </div>
    
    {{ if and (.TableOfContents) (.Params.toc) }}
    <div class="dashed-box p-3 toc-container">
        <h4 class="text-secondary">{{ .Site.Params.tocTitle | default "Table of contents" }}</h4>
        {{ .TableOfContents }}
    </div>
    {{ end }}
    
    <div class="post-content">
        {{ .Content }}
    </div>
</article>
{{ end }}
