<footer class="site-footer">
    <div class="container">
        <div class="footer-inner">
            <div class="copyright">
                &copy; {{ now.Format "2006" }} {{ .Site.Title }}. All rights reserved.
            </div>
            
            <ul class="footer-links">
                {{ range .Site.Menus.footer }}
                <li>
                    <a href="{{ .URL }}">{{ .Name }}</a>
                </li>
                {{ end }}
                <li>
                    <a href="{{ "index.xml" | absURL }}" target="_blank">RSS</a>
                </li>
            </ul>
        </div>
    </div>
</footer>

<!-- Twitter/X Widget Script -->
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
