{{- $link := .Get "link"  -}}
{{- $query := querify "url" $link -}}
{{- $request := printf "https://embed.bsky.app/oembed?%s" $query -}}

{{- $jsonOembed := resources.GetRemote $request -}}
{{- if $jsonOembed -}}
  {{- $jsonOembed = $jsonOembed | transform.Unmarshal -}}
  {{- if $jsonOembed -}}
    <div class="bluesky-container">
      {{- $jsonOembed.html | safeHTML -}}
    </div>
  {{- else -}}
    <div class="bluesky-container">
      <p>Failed to load Bluesky post. <a href="{{ $link }}" target="_blank" rel="noopener">View on Bluesky <span class="bluesky-arrow">→</span></a></p>
    </div>
  {{- end -}}
{{- else -}}
  <div class="bluesky-container">
    <p>Failed to load Bluesky post. <a href="{{ $link }}" target="_blank" rel="noopener">View on Bluesky <span class="bluesky-arrow">→</span></a></p>
  </div>
{{- end -}}