{{- $type := .Get "type" | default "basic" -}}
{{- $title := .Get "title" -}}
{{- $subtitle := .Get "subtitle" -}}
{{- $image := .Get "image" -}}
{{- $imageAlt := .Get "image-alt" | default $title -}}
{{- $link := .Get "link" -}}
{{- $icon := .Get "icon" -}}
{{- $class := .Get "class" | default "" -}}
{{- $tag := .Get "tag" -}}
{{- $shadow := .Get "shadow" | default true -}}
{{- $center := .Get "center" | default false -}}
{{- $hover := .Get "hover" | default true -}}

<div class="card
            card-type-{{ $type }} 
            {{ if $shadow }}card-shadow{{ end }} 
            {{ if $center }}card-center{{ end }}
            {{ if $hover }}card-hover{{ end }}
            {{ $class }}">
  
  <div class="card-header-row">
    {{- if $image -}}
    <div class="card-image">
      <img src="{{ $image }}" alt="{{ $imageAlt }}" loading="lazy">
    </div>
    {{- end -}}
    
    <div class="card-header-content">
      {{- if $tag -}}
      <div class="card-tag">{{ $tag }}</div>
      {{- end -}}
      
      {{- if and $icon $center -}}
      <div class="card-icon">
      {{- partial "components/icon" $icon -}}
      </div>
      {{- end -}}
      
      {{- if $title -}}
      <div class="card-header">
        {{- if and $icon (not $center) -}}
        <div class="icon-inline">{{- partial "components/icon" $icon -}}</div>
        {{- end -}}
        <h3 class="card-title">{{ $title }}</h3>
      </div>
      {{- if $subtitle -}}
        <div class="card-subtitle">{{ $subtitle }}</div>
      {{- end -}}
      {{- else if and $icon (not $center) -}}
      <div class="card-icon">
      {{- partial "components/icon" $icon -}}
      </div>
      {{- end -}}
    </div>
  </div>
  
  <div class="card-content">
    <div class="card-body">
      {{ .Inner | markdownify }}
    </div>
    
    {{- if $link -}}
    <div class="card-footer">
      <a href="{{ $link }}" class="card-link">
        <span>Read more</span>
      </a>
    </div>
    {{- end -}}
  </div>
</div>
