{{- $src := .Get "src" -}}
{{- $resource := $.Page.Resources.GetMatch $src -}}
{{- if not $resource -}}
  {{- $resource = $.Page.Resources.GetMatch (printf "images/%s" $src) -}}
{{- end -}}
{{- $imgSrc := $src -}}
{{- if $resource -}}
  {{- $imgSrc = $resource.RelPermalink -}}
{{- else -}}
  {{- warnf "Gallery image resource not found: %s in page %s" $src $.Page.Path -}}
{{- end -}}
{{- $alt := .Get "alt" | default "" -}}
{{- $caption := .Get "caption" | default "" -}}
{{- $class := .Get "class" | default "" -}}
{{- $lightbox := .Get "lightbox" | default true -}}

<div class="gallery-item {{ $class }}" {{ if $lightbox }}data-lightbox="true" data-src="{{ $imgSrc }}" {{ if $caption }}data-caption="{{ $caption }}"{{ end }}{{ end }}>
  <img src="{{ $imgSrc }}" alt="{{ $alt }}" loading="lazy" />
  {{ if $caption }}<div class="gallery-caption">{{ $caption }}</div>{{ end }}
</div>
